.form-container{
  width:400px;
  margin: auto;
}

.createPost{
  padding: 0.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ededed;
}

.profileCont{
  width:100%;
  padding: 1rem 5rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
}

.userPosts{
  margin-top: 1rem;
}